.first-entry {
    margin-top: 20px;
    margin-bottom: 50px;
    min-height: 180px;
}

.post-tags a {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    margin-right: 10px;

    text-transform: lowercase;
    color: var(--secondary);
    font-weight: 500;
}

.post-tags a:hover {
    background: none !important;
    color: var(--primary);
    text-decoration: underline;
}

.post-tags a::before {
    content: "#";
}

abbr[title], .post-content a[href*="glossary"] {
    text-decoration: none !important;
    border-bottom: 1.5px solid rgba(66, 133, 244, 0.3) !important;
    cursor: help;
    transition: all 0.2s ease-in-out;
    padding-bottom: 1px;
}

abbr[title]:hover, .post-content a[href*="glossary"]:hover {
    border-bottom: 1.5px solid rgba(66, 133, 244, 1) !important;
    background-color: rgba(66, 133, 244, 0.05);
    color: #2962ff;
}